
.loading-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin-top:30%;
}
.loading-indicator__label {
    margin-top: 10px;
    font-size: 12px;
    color: blue;
    margin-top: 8px;
}
.maintitle{
    font-weight: bold;
    font-size: 16px;
    padding-left: 5px;
}


.tableProcess{
    height: 100%;
    overflow: auto;
}

.main{
    height:100%;
}

.blockDiv{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.5;
    background-color: lightgrey;
    color: blue;
    font-weight: bold;
    text-align: center;
    padding-top: 30%;
    padding-bottom: auto;
    z-index:10000;
}

.refresh_icon{
    background-image: url('/images/refresh.png');
}

.rootlog{
    position: absolute;
    right:0;
    left:0;
    top:0;
    bottom:0;
}
.logs{
    position: absolute;
    right:0;
    left:0;
    top:0;
    bottom:0;

}

.logs p{
    text-align: center;
}

.logs__box{
    position: absolute;
    right:0;
    left:0;
    top:40px;
    bottom:0;
    overflow-y: auto ;
}

.logs__info{
    border:solid 2px green;
}

.logs__err{
    border:solid 2px red;
}